div{
    display: block;
}

.side-nav-bar{
    width: 250px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    background-color: black;
}

.top-side-bar,
.bottom-side-bar,
.explore-side-bar,
.more-side-bar,
.setting-side-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 10px;
}

.bottom-side-bar,
.explore-side-bar,
.more-side-bar,
.setting-side-bar{
    border-top: 1px solid darkgray;
}

.side-bar-icon
{
    margin: 10px;
    color: white;
}

.side-bar-text{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 400;
}

.header-icon,
.header-text{
    align-items: center;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
